body {
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-size: cover;
    margin: 0;
    
    
} 
.form-container {
    width: 400px;
    margin: auto;

}

.flash-message {
    margin-top: 20px;
}