<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8" />
    <title style="font-weight: bold">Emergency & Security Incident Management Application</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        body {
            background:url('http://socialwork.nyu.edu/content/sssw/en/faculty-and-staff/faculty-resources/FacultyResources_2/jcr%3acontent/content1/textboximg_5.img.png/1421350205810.jpg');
            padding-top: 100px;
            background-position: 50% 50%;
            padding-bottom: 100px;
            font-weight: bold;
            
        }

        .form-container {
            width: 500px;
            margin: auto;
            background-color: white;
            padding: 30px;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
        h3{
            font-weight: bold;
        }
    </style>
</head>
<body>